.html, body {
  margin: 0;
  padding: 20px;
  background-color: #FFFFFF;
  color: rgb(0, 0, 0);
  font-family: "Inter", sans-serif;
}

/* Style for naviagtion bar */
.navbar {
    min-width: 800px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-color: #FFFFFF; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

.navbar ul{
    /* min-width: 800px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 5px 10px;
    font-size: 18px;
}

.logo {
    width: 3vw;
    display: flex;
}

#web_name {
    margin-left: 10px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

#web_icon{
    width: 30px;
    height: 30px;}

.navbar ul a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navbar ul a:hover {
    color: #256fa1;
}

.nav_links {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    font-optical-sizing: auto;
    font-style: medium;
    font-weight: 600;
}

#fetch_date {
    margin-right: 10px;
    font-weight: 300;
    font-size: 14px;
}

/* Style for body */
body > div {
    min-width: 600px;
    background: rgba(242,242,242,0.55);
    padding: 10px 20px;
    margin: 30px 15%;
    scroll-margin-top: 90px; 
}

body > div h2 {
    font-size: 20px;
    font-weight: 600;
    color: rgba(39,142,210);
    margin: 20px 0;
    padding-left: 10px;

}

/* Style for division 1 - Current weather */
.c_preview{
    display: flex;
    justify-content: space-evenly; /* Distributes space evenly between items */
    align-items: center; /* Vertically centers the items */

}

.c_values,.c_hk {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    gap: 40px; 
    align-items: flex-start;
}

.c_preview > .c_values{
    /* width: 20vw; */
    width: 350px;
    margin-right: 30px;
    font-weight: 380;
    line-height: 2.5;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#c_city{
    font-size: 55px;
    font-weight: 500;
    padding-left: 20px;
}
#c_icon{
    width: 125px;
    margin: 0 15px;
    padding-left: 10px;
}
#c_temp{
    width: 120px;
    font-size: 40px;
    font-weight: 450;
    margin-top: 20px;
}
#c_condition{
    width: 200px;
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
}


p{
    padding: 0px 20px;
    font-weight: 300;
    color: #274C77;
    line-height: 1.8;
}

/* Style for division 2 - Warning weather */
#warning_list {
    display: flex; 
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Centers the list horizontally */
    align-items: center; /* Centers the list vertically */
    list-style: none; /* Removes default bullet points */
    margin: 20px; /* Ensures no extra margin affects alignment */
    padding: 0; /* Ensures no extra padding affects alignment */
    width: 100%; /* Optional: Ensures it spans the full width of the parent */
    height: 100%; /* Optional: Ensures it spans the full height of the parent */
    gap: 10px; /* Adds space between items */
}

#warnings div{
    padding: 20px;
}

#warn_name{
    font-size: 18px;
    font-weight: 500;
    color: #264a75;
}
#warnings p{
    padding-top: 5px;
    padding-left: 0px;
}


#warning_icon {
    margin-left: 10px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

#warn_icon{
    width: 70px;
    height: 70px;
    margin: 0 20px;
}


/* Style for division 3 - Regional weather */
#region > div{
    display: flex;
    justify-content: space-evenly; /* Distributes space evenly between items */
    align-items: flex-start; /* Vertically centers the items */
    margin-bottom: 30px;
}


.r_preview{
    width: 50%;
    margin-right: 20px;
    align-items: center;
    padding-left: 40px;
}

#r_region{
    font-size: 32px;
    font-weight: 480;
    margin-right: 10px;
    margin-bottom: 30px;
}

#r_temp{
    font-size: 32px;
    font-weight: 420;
}

.r_values{
    color: #274C77;
    width: 300px;
    margin: 10px 0;
    font-weight: 380;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    gap: 30px; 
    align-items: flex-start;
    line-height: 2.5;
    margin-bottom: 20px;
}

#region_image{
    width: 40%;
    height: 230px;

    /* height: auto;
    min-height: 200px; 
    max-height: 230px;  */
    object-fit: cover; /* Crops the image while maintaining the aspect ratio */
    overflow: hidden; /* Ensures any overflow is hidden */
    opacity: 0.9; 
    border-radius: 20px; /* Adds rounded corners with a radius of 30px */
}

.search_engine {
    display: flex;
    align-items: center;
    position: relative;
}

.search_input {
    width: 170px;
    padding: 10px 20px;
    border: 1px solid #6096BA;
    border-radius: 30px 0 0 30px;
    outline: none;
    font-size: 16px;
}

.search_button {
    padding: 11px 20px;
    border: none;
    background-color: #6096BA;
    color: white;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    font-size: 16px;
}

.search_button:hover {
    background-color: #3e6e8f;
}
.dropdown_list {
    position: absolute;
    top: 100%;
    width: 200px;
    background: white;
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 0 0 8px 8px; /* Rounded bottom only */
    max-height: 200px;
    overflow-y: auto; /* Auto-scroll if needed */
    padding: 0;
    margin-left: 20px;
    list-style: none;
}

.dropdown_item {
    padding: 8px 30px;
    cursor: pointer;
    font-size: 15px;
}

.dropdown_item:hover {
    background: #dbe9f9; /* Light gray hover */
}


/* Style for division 4 - 9-days forecast */
.forecast_preview{
    display: flex;
    align-items: center;
    justify-content: space-evenly; /* Distributes space evenly between items */
}

#forecast_report{
    width: 50%;
    float: left;
    margin-right: 30px;
}

#forecast_list{
    width: 45%;
}

#forecast_list li{
    align-items: center;
    justify-content: space-evenly; /* Distributes space evenly between items */
    display: flex;
    border-bottom: 1px solid #dadada; /* Adds a light gray underline */
    padding: 5px 0; /* Adds spacing above and below the text */
}

#forecast_list span{
    font-size: 14px;
}

.forecast_preview ul li img{
    width: 15px;
    height: 15px;
}

#expand_button{
    width: 10px;
    height: 8px;
}